/* .gap {
    gap: 10px;
} */

.card {
    margin-left: 1%;
}

.card-img-top {
    margin-top: 2%;
}

.card-body {
    height: 240px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.card img {
    object-fit: cover;
    margin-top: 2%;
    height: 410px;
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

.header_search input {
    width: 20vw;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
    z-index: 700;

}

#filterContainer {
    display: none;
}


.modal-dialog-centered {
    flex-direction: column;
}

#modalImg {
    height: 85vh;
    object-fit: contain;
}

#modalPicture {
    background-color: rgba(0, 0, 0, 0.5);
}

#nextButton, #previousButton, .btn-close {
    pointer-events: auto;
}

.btn-close{
    position: absolute;
    right: 2%;
}

#modalPicture .modal-body{
    background-color: white;
}

@media (min-width: 768px) {
    .col-md-4 {
        width: 32.333333%;
    }
}

@media (min-width: 576px) {
    #modalPicture .modal-dialog {
        max-width: 100%;
    }
}
