@import url('http://fonts.cdnfonts.com/css/chalkduster');

header h1{
    font-size: xx-large;
    font-weight: 500;
}

#headerTitle{
    width: auto;
}

@media only screen and (max-width: 768px){
    #headerTitle{
        margin: 0 auto;
    }
}

header .input-group {
    width: auto;
}

.card {
    margin-left: 1%;
}

.buttonContainer{
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-left: auto;
}

#orderSelect {
    position: relative;
    white-space: nowrap;
    width: 175px;
    text-align: right;
    display: flex;
    justify-content: space-between;
    background: white;
    color: #6c757d;
}

.dropdown-menu {
    top:15%;
}

.card-img-top {
    margin-top: 2%;
}

.row .mb-5 {
    display:flex;
    justify-content: space-between !important
}

.card-body {
    height: 240px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.card img {
    object-fit: cover;
    margin-top: 2%;
    height: 410px;
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

#searchBox{
    width: 45%;
}

.text-end{
    display: flex;
    justify-content: flex-end;
    width: 50%;

}

#filterContainer {
    display: none;
}


.modal-dialog-centered {
    flex-direction: column;
}

#modalImg {
    max-height: 85vh;
    object-fit: contain;
    width: 100%;
}

#modalPicture {
    background-color: rgba(0, 0, 0, 0.5);
}

#nextButton, #previousButton, .btn-close {
    pointer-events: auto;
}

.btn-close{
    position: absolute;
    right: 2%;
    z-index: 400;
}

#modalPicture .modal-body{
    background-color: white;
    width: auto;
    flex: none !important;
    margin: auto 0;
}

.bi-caret-down {
    margin-left: 2%
}

#dateSelector {
    width: 31.5%;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: auto;
}

#modalPicture h4{
    font-family: 'Chalkduster', sans-serif;
}
@media only screen and (min-width: 768px) {
    .col-md-4 {
        width: 32.333333%;
    }
}

/* @media (min-width: 576px){
.col-sm-6 {
    flex: 0 0 auto;
    width: 90%;
} */


@media only screen and (min-width: 576px) {
    #modalPicture .modal-dialog {
        max-width: 100%;
    }
}

@media only screen and(min-width: 576px){
    .col-sm-6 {
        width: 49% !important;
    }
}


@media only screen and (max-width: 1200px){
    .buttonContainer{
        width: 37%;
    }

    #dateSelector{
        width: 37.5%;
    }
}



@media only screen and (max-width: 1024px){
    .buttonContainer{
        width: 50%;
    }

    #dateSelector{
        width: 51.5%;
    }
}

@media only screen and (max-width: 991px){
    .card{
        width: 48%;
    }


    #modalImg {
        height: auto;
    }


    #modalPicture .modal-body{
        width: auto;
        max-height: 845px;
        margin: auto 0;

    }
}

@media only screen and (max-width: 768px){
    .buttonContainer{
        width: 60%;
    }
    .text-end{
        width: 100%;
        justify-content: space-between;
    }
    .card img {
        height: 250px;
    }

    .card-body {
        height: 175px;
    }

    #dateSelector{
        width: 67%;
    }
}

@media only screen and (max-width: 576px){
    .card-body {
        height: 200px;
    }
}

@media only screen and (max-width: 550px){
    .buttonContainer{
        width: 100%;
    }

    #dateSelector{
        width: 100%;
    }

    #modalImg{
        height: auto;
    }
}

@media only screen and (max-width: 550px){
    .card{
        width: 100%;
    }

    .dropdown-menu{
        top: 23%;
    }
}

.btn-danger {
    background-color: #fe755d8e;
    border-color: #fe755d8e;
    color: #19323C;
}

.btn-primary{
    background-color: #cadebb;
    border-color:#cadebb;
    color: #19323C;
}

.btn-primary:hover{
    background-color: #dbf5c8;
    border-color: #DFEAD7;
    color: #19323C
}

.btn-secondary{
    background-color: #6c757d2b;
    color:#19323C;
    border-color: #6c757d2b;
}

.btn-success{
    background-color: #00A878;
    border-color: #00A878;
}

.btn-outline-primary{
    color:#19323C;
    border-color:#19323C;
}

.btn-outline-primary:hover,
.btn-outline-secondary:hover{
    background-color: #DFEAD7;
    color: #19323C;
    border-color: #DFEAD7
}




a{
    color: #B3CEA1
}

a:hover{
    color: #bedcaa
}

input[type="date"]{
    width: auto;
    height: auto;
}


