/* .gap {
    gap: 10px;
} */

.card {
    margin-left: 1%;
}

.card img{
    margin-top: 2%;
}

.header_search input {
    width: 20vw;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
    z-index: 700;

}

#filterContainer{
    display:none;
}



@media (min-width: 768px) {
    .col-md-4 {
        width: 32.333333%;
    }
}
